<% provide(:title, 'Sign up') %>
<h1>Log in</h1>

<div>
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.label :email %>
        <%= f.email_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.submit "Log in" %>
    <% end %>
</div>
